.admin {
  font-family: var(--font-alpha);
  color: var(--cl-grey-80);
  font-size: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;

  &__nav {
    width: 15vw;
    min-width: 325px;
    max-width: 500px;
    height: 100%;
    padding: 5rem 1rem;
    background: url('../../common/assets/img/nav-bg.jpg');
    color: var(--cl-grey-10);
  }
}
