.menu {
  display: block;
  margin: 0;
  padding: 0;

  &__list-wrapper {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__list-wrapper--vertical {
    flex-direction: column;
  }

  &__list-wrapper--horizontal {
    flex-direction: row;
  }

  &__link {
    padding: 20px;
    display: block;
    text-decoration: none;
  }
}
