.title {
  margin: 0;
  padding-top: 0;
  color: var(--cl-grey-90);

  &--primary {
    font-size: 30px;
    font-weight: 500;
  }

  &--secondary {
    font-size: 25px;
    font-weight: 700;
  }

  &--tertiary {
    font-size: 18px;
    color: var(--cl-grey-80);
    font-weight: 400;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
