.file-input {
  display: block;

  &__input + label {
    font-size: 16px;
    padding: 15px;
    border-radius: 4px;
    color: white;
    background: var(--cl-primary);
    display: inline-block;
    cursor: pointer;
    transition: all ease-in-out 200ms;
  }

  &__input:focus + label,
  &__input + label:hover {
    background: var(--cl-primary-100);
  }

  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
