.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  &__title {
    margin-bottom: 35px;
  }

  &__form {
    width: 400px;
    text-align: center;
  }

  &__item {
    margin-bottom: 25px;
  }

  &__footer {
    font-size: 14px;
    margin: 30px 0;
    color: var(--cl-grey-40);
  }
}
