:root {
  // colors
  --cl-primary: hsl(187, 100%, 38%);
  --cl-primary-100: hsl(187, 100%, 18%);
  --cl-secondary: hsl(33, 100%, 49%);
  --cl-secondary-100: hsl(33, 100%, 29%);
  --cl-secondary-80: hsl(33, 100%, 49%);
  --cl-tertiary-100: hsl(123, 41%, 35%);
  --cl-tertiary-80: hsl(123, 41%, 55%);
  --cl-grey-100: hsl(0, 0%, 10%);
  --cl-grey-90: hsl(0, 0%, 20%);
  --cl-grey-80: hsl(0, 0%, 30%);
  --cl-grey-60: hsl(0, 0%, 50%);
  --cl-grey-40: hsl(0, 0%, 70%);
  --cl-grey-20: hsl(0, 0%, 90%);
  --cl-grey-10: hsl(0, 0%, 100%);
  // fonts
  --font-alpha: 'Open-sans', sans-serif;
}
